body {
    background-color: black; //background-image: url("image/image1.jpg");
    background-size: contain;
}

div.picview {
    border: 1px solid #ccc;
}

div.picview:hover {
    border: 1px solid #777;
}

div.picview img {
    width: 100%;
    height: 200px;
}

figcaption.size {
    padding: 15px;
    text-align: center;
    color: whitesmoke;
}

.viewblock {
    padding: 0 6px;
    float: left;
    width: 26.5%;
}
